<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">

	<sql id="cafeColumns">
		num,writer,title,content,viewCount,
		TO_CHAR(regdate, 'YY.MM.DD HH24:MI') AS regdate
	</sql>

	<select id="getList" resultType="boardDto">
		SELECT num, writer, title, content, viewCount, regdate
		FROM cafe_board
		ORDER BY num DESC
	</select>
	<insert id="insert" parameterType="boardDto" >
		INSERT INTO cafe_board (num, writer, title, content, viewCount, regdate)
		VALUES(cafe_board_seq.NEXTVAL, #{writer},#{title},#{content},#{viewCount}, SYSDATE)
	</insert>
	
</mapper>